<div class="container">
  <div class="row">
    <h1>pruebas</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    
    <tbody>
      <ng-container *ngFor="let item of data">
        <tr>
          <th scope="row">{{item.qAteNOfi}}</th>
          <td>{{item.qAteTOL}}</td>
          <td>{{item.qAteE}}</td>
          <td>{{item.qAteT}}</td>
        </tr>
      </ng-container>
     
    </tbody>
  </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    <span class="p-2"> </span>
    <button type="" class="btn btn-primary " (click)="descarga()">descargar</button>
  
</div>
